<mat-card class="routable" routerLink="">
  <mat-card-header>
    <img mat-card-avatar src="/imgs/tetrahedron.jpg" alt="Tetrahedron">
    <mat-card-title>C. Hecktor</mat-card-title>
    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Working as IT consultant and playing around with all sorts of computers and music stuff in my free time.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://github.com/checktor" target="_blank" mat-icon-button>
      <mat-icon>home</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
