<div class="row">
  @for (blogPostCard of blogPostCards; track blogPostCard) {
    <div class="col-4">
      <mat-card class="routable" [routerLink]="blogPostCard.link">
        <mat-card-header>
          <mat-card-title>{{ blogPostCard.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="p-3" [src]="blogPostCard.imgSrc" [alt]="blogPostCard.imgAlt">
        <mat-card-content>
          <p>{{ blogPostCard.content }} </p>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
